 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper img 	{
	margin-top: 5px;
	height: 45px;
}

/*D3 Styles*/
.node circle {
  fill: #fff;
  stroke: rgb(213, 0, 0);
  stroke-width: 1.5px;
}

.node, .nodeone {
  font: 10px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.row {
	padding-left: 5px;
	padding-right: 5px;
}
#inter-wrap {
	padding: 10px;
}
#inter-wrap img {
	width: 100%;
}
.chunk.collapsible-body {
  padding-left: 10px;
  padding-right: 10px;
}
tr {
  overflow-x: scroll;
}
#test-container .card-content {
  padding: 15px !important;
}
.card.z-depth-0 {
  box-shadow: none !important;
}
nav, .navbarfixed, .nav-wrapper {
  height: 50px;
  line-height: 50px;
}
/*footer*/
#seas-link, #harvard-link, #daslab-link{
    background-repeat: no-repeat;
    display:block;
    height: 76px;
    margin: 30px auto 25px;
    text-indent: -9999px;
    overflow: hidden;
}

#seas-link {
    width: 263px;
    background-size: 263px 156px;
    background-image: url(../media/seas_logo.png);
}

#harvard-link {
    width: 290px;
    background-size: 290px 156px;
    background-image: url(../media/harvard_logo.png);
}

#daslab-link {
    width: 196px;
    background-size: 196px 156px;
    background-image: url(../media/daslab_logo.png);
}

#seas-link:hover{
    background-position: 0 -77px;
}

#harvard-link:hover{
    background-position: 0 -77px;
}

#daslab-link:hover{
    background-position: 0 -79px;
}

@media(min-width:992px) {
#seas-link {
    margin-right: 25px;
}
#daslab-link {
    margin-left: 25px;
}
}
@media(max-width:992px) {
    #seas-link{
        width: 290px;
    }
}