 body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
a:hover { 
cursor: pointer;
}
.nav-wrapper img 	{
	margin-top: 5px;
	height: 45px;
}
nav, .navbarfixed, .nav-wrapper, header {
  height: 50px;
  line-height: 50px;
  font-family: serif;
}
#nav-mobile li a {
  line-height: inherit;
  height: 100%;
}
.parallax-container {
  height: 95vh;
}
#head-cont {
  height: 95vh;
}
#info-cont {
  height: 95vh;
}
#demo-cont {
  /*height: 95vh;*/
}
#people-cont {
  height: 95vh;
}
#people-cont a {
  color: black;
  text-decoration: none;
}
#people-cont a:hover {
  color: white;
  text-decoration: none;
}
.table-of-contents li {
  height: 50px;
}
.table-of-contents li a {
  color: #CFC !important;
}
.table-of-contents li a:hover {
  color: white !important;
}
.table-of-contents li a.active {
  border-left: 2px solid #CFC !important;
}
.table-of-contents li a:hover {
  border-left: 1px solid #CFC !important;
}

/*D3 Styles*/
.node circle {
  fill: #fff;
  stroke: rgb(213, 0, 0);
  stroke-width: 1.5px;
}

.node, .nodeone {
  font: 10px sans-serif;
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
.row {
	padding-left: 5px;
	padding-right: 5px;
}
#inter-wrap {
	padding: 10px;
}
#inter-wrap img {
	width: 100%;
}
.chunk.collapsible-body {
  padding-left: 10px;
  padding-right: 10px;
}
tr {
  overflow-x: scroll;
}
#test-container .card-content {
  padding: 15px !important;
}
.card.z-depth-0 {
  box-shadow: none !important;
}
/*footer*/
footer.page-footer {
  margin-top: 0;
}
#seas-link, #harvard-link, #daslab-link{
    background-repeat: no-repeat;
    display:block;
    height: 76px;
    margin: 30px auto 25px;
    text-indent: -9999px;
    overflow: hidden;
}

#seas-link {
    width: 263px;
    background-size: 263px 156px;
    background-image: url(../media/seas_logo.png);
}

#harvard-link {
    width: 290px;
    background-size: 290px 156px;
    background-image: url(../media/harvard_logo.png);
}

#daslab-link {
    width: 196px;
    background-size: 196px 156px;
    background-image: url(../media/daslab_logo.png);
}

#seas-link:hover{
    background-position: 0 -77px;
}

#harvard-link:hover{
    background-position: 0 -77px;
}

#daslab-link:hover{
    background-position: 0 -79px;
}

@media(min-width:992px) {
#seas-link {
    margin-right: 25px;
}
#daslab-link {
    margin-left: 25px;
}
}
@media(max-width:992px) {
    #seas-link{
        width: 290px;
    }
}